{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST", action="", enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.time.label(class="form-control-label") }}

                {% if form.time.errors %}
                    {{ form.time(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.time.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.time(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}

                {% if form.description.errors %}
                {{ form.description(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.description(class="form-control form-control-lg") }}
            {% endif %}
            </div>

            <div class="form-group border-bottom" data-toggle="fieldset" id="ingredient-fieldset">
                {{ form.ingredients.label(class="form-control-label") }}
                {% for ingredient in form.ingredients %}
                    <div data-toggle="fieldset-entry">
                        {% if ingredient.errors %}
                            {{ ingredient(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in ingredient.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ ingredient(class="form-control") }}
                        {% endif %}
                        <button class="btn btn-outline-danger mb-3" type="button" data-toggle="fieldset-remove-row" id="ingredient-{{loop.index0}}-remove">Remove</button>
                    </div>
                {% endfor %}
                <button class="btn btn-outline-primary mb-1 mt-2" type="button" data-toggle="fieldset-add-row" data-target="#ingredient-fieldset">Add</button>
            </div>
            


            <!-- <div class="form-group mb-4" data-toggle="fieldset" id="step-fieldset">
                {{ form.steps.label(class="form-control-label") }}
                <table>
                    <tbody>
                        {% for i in range(form.steps.entries|length) %}
                            <tr data-toggle="fieldset-entry">
                                <td class="entry">
                                    {% if form.steps.entries[i].errors %}
                                        <textarea class="form-control no-resize is-invalid" name="steps-{{loop.index0}}-step" id="steps-{{loop.index0}}-step">{{form.steps.entries[i].step.data}}</textarea>
                                        <div class="invalid-feedback">
                                            {% for error in form.steps.entries[i].errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <textarea class="form-control no-resize" name="steps-{{loop.index0}}-step" id="steps-{{loop.index0}}-step">{{form.steps.entries[i].step.data}}</textarea>
                                    {% endif %}
                                </td>
                                <td class="button">
                                    <button class="btn btn-outline-danger" type="button" data-toggle="fieldset-remove-row" id="step-{{loop.index0}}-remove">Remove</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button class="btn btn-outline-primary mt-2" type="button" data-toggle="fieldset-add-row" data-target="#step-fieldset">Add</button>
            </div> -->

            <div class="form-group mb-4 mt-4" data-toggle="fieldset" id="step-fieldset">
                {{ form.steps.label(class="form-control-label ") }}
                {% for step in form.steps %}
                    <div data-toggle="fieldset-entry">
                        {% if step.errors %}
                            {{ step(class="form-control is-invalid no-header") }}
                            <div class="invalid-feedback">
                                {% for error in step.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ step(class="no-header") }}
                        {% endif %}
                            <button class="btn btn-outline-danger mb-3" type="button" data-toggle="fieldset-remove-row" id="step-{{loop.index0}}-remove">Remove</button>
                    </div>
                {% endfor %}
                <button class="btn btn-outline-primary mt-2" type="button" data-toggle="fieldset-add-row" data-target="#step-fieldset">Add</button>

            </div>

            <!-- <div class="form-group" data-toggle="fieldset" id="step-fieldset">
                <button type="button" data-toggle="fieldset-add-row" data-target="#step-fieldset">+</button>
                {{ form.steps.label(class="form-control-label") }}
                {% for step in form.steps %}
                    <div data-toggle="fieldset-entry">
                        {% if step.errors %}
                            {{ step(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in step.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                                {{ step(class="form-control") }}
                        {% endif %}
                        <button type="button" data-toggle="fieldset-remove-row" id="step-{{loop.index0}}-remove">-</button>
                    </div>
                {% endfor %}
            </div> -->
        
            <!-- I'll have to use different method of verification for this shit god dammit -->
            <div class="form-group mb-4 mt-4" data-toggle="fieldset" id="tag-fieldset">
                {{ form.tags.label(class="form-control-label ") }}
                <div data-toggle="fieldset-entry">
                    {% if form.tags.entries[0].tag.errors %}
                        {{ form.tags.entries[0].tag(class="form-control is-invalid no-header") }}
                        <div class="invalid-feedback">
                            {% for error in form.tags.entries[0].tag.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.tags.entries[0].tag(class="no-header") }}
                    {% endif %}
                    <ul data-toggle="tag">
                        {% for tag in form.tags.entries %}
                            <li data-toggle="tag-remove">{{ tag.data }}</li>
                        {% endfor %}                    
                    </ul>
                </div>
                

                <button class="btn btn-outline-primary mt-2" type="button" data-toggle="tag-add" data-target="#step-fieldset">Add</button>

            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js" integrity="sha256-C6CB9UYIS9UJeqinPHWTHVqh/E1uhG5Twh+Y5qFQmYg=" crossorigin="anonymous"></script>
  <script src="{{ url_for("static", filename="page.js") }}"></script>
{% endblock content %}